 #!/bin/bash
 PGPASSWORD={{ pg_db_user_password }} psql -U {{ pg_db_user }} -d {{ pg_db_name }} -c "SELECT COUNT(*) FROM pg_stat_activity;"
 if [ $? -eq 0 ]; then 
  echo "{{ pg_db_name }} connected"
 else 
  sudo -u postgres psql -c "CREATE DATABASE {{ pg_db_name }};" && \
  sudo -u postgres psql -c "CREATE USER {{ pg_db_user }} WITH PASSWORD '{{ pg_db_user_password }}';" && \ 
  sudo -u postgres psql -c "grant pg_read_all_data to {{ pg_db_user }};" 
 fi